/**
 * @author		Spartacus
 * @address		www.spartacuswallpaper.com
 *
 * 36,24,26 - Cocoa Brown
 * 68,114,88 - Killarney
 * 134,155,122 - Battleship Gray
 * 222,209,167 - Life of Confessions
 * 255,181,112 - a-ha
 */

img {
    width: 100%;
    height: auto;
    background:rgb(68,114,88);
}

body > .container-fluid > .row-fluid {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row;
    flex-flow: row;
}

#main {
    order:2;
    margin-top:15px;
    padding-top: 5px;
    position: relative;
}

#main [class^=col] {
    padding-left:.3em;
    padding-right:.3em;
}
#main .row {
    margin-right: -.3em;
    margin-left: -.3em;
}

.entry-view {
    color:rgb(222,209,167);
    margin-bottom: 40px;
    padding-bottom:10px;
    border-bottom: 2px solid rgba(222,209,167, .5);
}

.entry {
    margin-bottom:45px;
}

.entry-content .std {
    font-size:14px;
    margin-top:10px;
    padding: 10px 10px 0;
    color:rgb(222,209,167);
    font-weight: 300;
    border-top: 2px solid rgba(222,209,167, .5);
}
.entry-page .entry-content .std {
    padding: 10px;
    border-bottom: 2px solid rgba(222,209,167, .5);
    margin-bottom: 10px;
}

.entry-preview-image {
    display:block;
    padding-bottom:15px;
}

.entry-date {
    float:right;
    font-weight:400;
    margin: 0;
}
.entry-view .entry-date {
    font-family: 'Courgette', sans-serif;
    font-size:15px;
    margin-top: 8px;
}

.entry-title {
    float:left;
    margin:0;
    padding-bottom: 5px;
    color:rgb(68,114,88);
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
}

.entry-view .entry-title {
    font-family: 'Patua One', serif;
}

.entry-view .entry-title a {
    /* color:rgb(68,114,88); */
}

.content-title {
    font-size: 26px;
    font-weight: normal;
    margin: .5em 0;
    font-family: 'Courgette', sans-serif;
    color:rgb(68,114,88);
    text-align:center;
}
.subtitle {
    font-family:'Patua One', serif;
    margin: 25px 0 0;
    clear: both;
    text-align: center;
}
.subtitle:first-of-type {
    margin-top:0;
}
.entry-images .image-box {
    padding:0 0 10px;
}

.mobile-preview img {
    width: 343px;
}

.entry-view strong {
    font-size:18px;
    margin: 5px 0;
    font-family: 'Courgette', sans-serif;
    color: rgb(134,155,122);
}
.header-banner {
    background-position: 50% 50%;
}

.header-banner.banner-border {
    background-color:rgb(255,181,112);
    background-blend-mode:soft-light;
    padding: 9px;
    margin: -10px -25px 0;
}
.header-banner.banner-background {
    border: 1px solid rgb(222,209,167);
    height: 142px;
    position:relative;
}
.header-banner.banner-feature {
    height: 160px;
    margin: -10px;
}
.ad {
    overflow:hidden;
    background:url(../images/no-ad.png) 50% 50%;
    min-height: 90px;
    /*background: rgb(255,181,112);*/
}
.ad.top {
    margin: -5px 0 0;
}
.ad.middle{
    margin: -20px -15px 20px;
}
.ad.bottom {
    margin: 50px 0 0;
}
#sidebar .ad {
    padding: 0 0 15px;
}

.logo img {
    height: 80%;
    width:auto;
    background: transparent;
}

.logo {
    height: 134px;
    position: absolute;
    left: 10px;
    top: 3px;
    min-width: 340px;
    background-color: rgb(68,114,88);
    background-color: rgba(68,114,88,.7);
    width: 30%;
    text-align: center;
}

.right .logo {
    right:10px;
}

.social-media li {
    float:left;
}
.social-media li a {
    display: block;
    background: url(../images/social-media-icons-small.png) 0 0 no-repeat;
    padding-right:10px;
    height:24px;
    margin-bottom:3px;
    line-height: 26px;
    text-indent:28px;
}
.social-media li a.twitter { background-position: 0 -24px; }
.social-media li a.tapiture { background-position: 0 -48px; }
.social-media li a.pinterest { background-position: 0 -72px; }

.entry-view .social-media li {
    float:none;
}

#sidebar {
    order:1;
    background: rgba(68,114,88,.5);
    position: relative;
    color:rgb(134,155,122);
    margin: 15px 0 0;
    padding: 15px;
    border-top: 15px solid rgb(255,181,112);
}
#sidebar a img {
    margin-bottom:8px;
}
#sidebar .social-contact {
    text-align: center;
    padding: 2px;
}
#sidebar .social-contact li {
    display: inline-block;
    text-indent: -9999px;
    height: 32px;
    width: 32px;
    margin: 10px;
}
#sidebar .social-contact li:last-of-type {
    margin-right:0;
}
#sidebar .social-contact li a {
    display: block;
    height: 32px;
    width: 32px;
    background: url(../images/social-media-icons.png) 0 0 no-repeat;
}
#sidebar .social-contact li.twitter a { background-position: 0 -32px; }
#sidebar .social-contact li.tapiture a { background-position: 0 -64px; }
#sidebar .social-contact li.pinterest a { background-position: 0 -96px; }

.sidebar-head,
.content-head {
    background: rgb(68,114,88);
    border-top:1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    width:100%;
    height: 18px;
    position: absolute;
    top:0;
    left:0;
}

#sidebar .section-head, .social-contact {
    font-size: 18px;
    border-top: 1px solid rgba(0,0,0,.5);
    padding: 10px 0 6px;
    font-family: 'Courgette', sans-serif;
    margin: 0;
}
#sidebar .section-head:first-of-type,
#sidebar .social-contact:first-of-type {
    border:none;
    padding-top: 0;
}

#sidebar a {
    font-size: 14px;
    text-decoration:none;
}

#sidebar ul {
    list-style:none outside none;
    margin:0;
    overflow:auto;
}

#sidebar ul li {
    margin-left:10px;
    text-indent: -10px;
}

ul.years {
    text-align: center;
    margin: 0 auto 1em;
    max-width: 400px;
}

ul.years li {
    display: inline-block;
    margin-right: 9px;
}

#sidebar .tops .entry-date {
    display:none;
}

.entry-grid {
    clear:both;
    list-style: none;
}
.entry-grid > div {
    padding-left:7px;
    padding-right:7px;
}

.entry-grid .entry-images .image {
    padding:0 5px;
}
.entry-grid .entry-item {
    float:left;
}
.col-xs-6.entry-item:not([class*=col-md]):nth-of-type(2n+1) {
    clear:left;
}

.entry-grid .entry-title {
    font-size:14px;
    height: 38px;
    display: table;
}

.entry-grid .entry-title a {
    display: table-cell;
    vertical-align: bottom;
}

.entry-grid .entry-date {
    font-size:13px;
}
.entry-item.ultrawide .entry-title {
    height:auto;
}
.entry-item.ultrawide {
    margin-bottom:25px;
}

.entry-grid .entry-image img {
    width: 100%;
}
#main .random-entries h3 {
    margin: 30px 0 -10px;
    padding: 0 5px;
    font-family: 'Patua One', serif;
}

.top-nav {
    list-style:none outside none;
    padding:0;
    margin:0;
    display: block;
    text-indent:0;
}

.top-nav a {
    color:rgb(222,209,167);
    display:block;
    font-size: 16px;
    font-weight:100;
    margin: 2px 3px;
    padding: 0 3px;
    text-decoration:none;
}

.top-nav a:hover {
    background:#de8b52;
}

.top-nav li {
    display: inline-block;
    margin-right: .1em;
}


.no-display {
    display:none;
}

#copy {
    text-align: center;
    font-size: 12px;
    padding: 70px 0;
    margin: 0 -15px -15px;
    background: rgb(134,155,122);
    color:black;
    clear: both;
    top: 15px;
    position: relative;
}

#admin {
    position: absolute;
    top:5px;
    right:10px;
}

body {
    background: rgb(36,24,26);
    font-weight:400;
    font-family: Helvetica,sans-serif;
    color:rgb(222,209,167);
    border: 1px solid rgb(134,155,122);
    border-width: 0 10px;
}
body > .container-fluid {
    border: 1px solid rgb(255,181,112);
    border-width: 0 10px;
    margin:0 auto;
    padding: 10px 15px 30px;
    max-width: 1302px;
}
a {
    color:rgb(255,181,112);
    text-decoration:none;
    cursor: pointer;
}

a:hover,a:active,a:focus {
    color: #fff;
}

input[type=text] {
    width:250px;
}
input, select, textarea {
    background: rgb(36,24,26);
    border: 1px solid rgb(222,209,167);
}

ul {
    list-style: none outside none;
    padding: 0 0 0 10px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
}

td {
    border: 1px solid rgb(222,209,167);
    padding: 1px 5px;
}
.entry-images .col-xs-6:nth-of-type(even) {
    padding-left:.1em;
}
.entry-images .col-xs-6:nth-of-type(odd) {
    padding-right:.1em;
}
.pager {
    margin: 15px -5px;
}
.pager li>a, .pager li>span {
    border-radius:0;
    padding: 2px 6px;
}
.pager li>a, .pager li>span, .btn-lg {
    background: rgb(68,114,88);
    background: -moz-linear-gradient(top,  rgb(68,114,88) 25%, rgb(52,86,67) 100%);
    background: -webkit-linear-gradient(top,  rgb(68,114,88) 25%,rgb(52,86,67) 100%);
    background: linear-gradient(to bottom,  rgb(68,114,88) 25%,rgb(52,86,67) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447258', endColorstr='#345643',GradientType=0 );

    border-color:rgba(0,0,0,.5);
}
.btn-lg a {
    text-decoration: none;
}
.entry-images .image {
    position:relative;
    display: block;
    float:left;
    padding: 5px 3px 0;
}
.entry .caption {
    text-align:center;
    display:block;
}
.entry-page .entry-tags ul {
    margin: 0 0 10px;
    padding: 0;
}
.entry-page .social-media ul {
    margin:0;
    padding-left:0;
}
.tag-index ul {
    margin:0 .3em;
    padding: 0;
}
.tag-index li {
    margin-left: 10px;
    text-indent: -10px;
}
.tag-cloud li {
    display: inline-block;
    margin-right: 5px;
}
@media screen and (min-width:768px) {
    .entry-images .image {
        height: 160px;
    }
    .entry-images .three .image {
        height: 125px;
    }
    .entry-view .entry-images {
        /* margin-top:-15px; */
    }
    .entry-images .mobile .image:nth-child(2n) {
        padding-left: 0;
    }
    .entry-images .image img {
        height:99%;
        width:auto;
    }
    .entry-images .image:hover span {
        opacity:1;
        color:rgb(255,181,112);
    }
    .entry-images .image span {
        position:absolute;
        background:#1B2001;
        bottom:20px;
        text-align:center;
        z-index:999;
        width:100%;
        opacity: 0;
        left: 3px;
    }
    .entry-images,
    .entry-images .desktop,
    .entry-images .mobile {
        overflow: auto;
        clear:both;
    }
    .entry-versions,
    .entry-page .entry-tags,
    .social-media {
        font-size:14px;
        margin-top: 30px;
        padding: 0 .3em;
    }
    .changelog {
        margin-left:3em;
    }
    #sidebar ul {
        padding:2px 0 12px 5px;
    }
}
@media screen and (min-width: 992px) {
    body > .container-fluid > .row > :last-child {
        padding-left:0;
    }
    .entry-grid .col-md-6:nth-of-type(2n+1),
    .entry-grid .col-md-4:nth-of-type(3n+1) {
        clear:left;
    }
    #main {
        padding-right: 0;
    }
    .tag-index {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
    #sidebar .ad {
        min-height:450px;
    }
}

@media screen and (max-width: 989px) {
    body > .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    body > .container-fluid > .row-fluid {
        flex-flow: column;
    }
    #main {
        order:1;
        padding:0;
    }
    #sidebar {
        order:2;
    }
    #copy {
        margin-left:-10px;
        margin-right:-10px;
    }
    #sidebar .years {
        width: 60%;
    }
    #sidebar .section-head, .social-contact {
        text-align:center;
    }
    #sidebar .ad.long {
        display: none;
    }
    .header-banner.banner-border {
        margin: -10px -20px 0;
    }
    #sidebar .kinds > li {
        margin:0 auto;
        max-width: 450px;
    }
    #sidebar .calendar,
    #sidebar .years {
        text-align:center;
    }
    #sidebar .calendar > div,
    #sidebar .years {
        margin:0 auto;
        float:none;
    }
    #sidebar li ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .col-sm-4, .tops {
        padding-left:5px;
        padding-right:5px;
    }
    .tag-index {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .entry-grid .col-sm-6:nth-of-type(2n+1),
    .entry-grid .col-sm-4:nth-of-type(3n+1) {
        clear:left;
    }
}
@media screen and (max-width: 767px) {
    body {
        border-width: 0 7px;
    }
    body > .container-fluid {
        border-width: 0 10px;
    }
    #main {
        padding: 0;
    }
    #sidebar .row {
        margin-left:-7px;
        margin-right:-7px;
    }
    #sidebar .entry-images .image {
        padding-top:0;
    }
    .container-fluid > .row > .col-md-3,
    .container-fluid > .row > .col-md-9,
    .col-xs-12 {
        padding-left:0;
        padding-right:0;
    }
    .col-xs-6:nth-child(2n),
    .entry-images .mobile .image:nth-child(2n) {
        padding-left: 3px;
        padding-right: .3em;
    }
    .col-xs-6:nth-child(2n+1),
    .entry-images .mobile .image:nth-child(2n+1) {
        padding-right: 3px;
        padding-left: .3em;
    }
    .entry-grid .col-xs-6:nth-of-type(2n+1) {
        clear:left;
    }
    .tops > div:nth-child(2n+1) {
        padding-left:0;
        clear:left;
    }
    .tops > div:nth-child(2n) {
        padding-right:0;
    }
    .ad-middle {
        display: none;
    }
    .ad {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .entry-images {
        margin-left: -.3em;
        margin-right: -.3em;
        clear: both;
        overflow: auto;
    }
    .entry-grid {
        padding:0;
    }
    .entry-grid .entry-title {
        font-size: 14px;
    }
    .entry-images .image-box {
        padding: 0 0 1px;
    }
    #sidebar .years {
        width:100%;
    }
    .entry-images .image img {
        width:100%;
        height:auto;
    }
    .tops .image,
    .entry-images .mobile .image {
        width: 50%;
        margin: 0;
    }
    .entry .caption {
        padding-bottom:15px;
    }
    .header-banner.banner-border {
    }
}
@media screen and (max-width: 475px) {
    body,
    body > .container-fluid {
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
    }
    .content-title {
        font-size:22px;
    }
    .header-banner.banner-border {
        padding: 9px 0;
        margin: 0;
    }

    .header-banner.banner-background {
        margin: 0;
        border-width: 1px 0;
    }

    .header-banner.banner-feature {
        background-image: none !important;
        width: 100%;
        margin: -10px 0;
    }

    .top-nav li a {
        margin: 0 1px;
        padding: 2px;
    }

    .logo {
        margin: 0 auto;
        left: 0 !important;
        right: 0 !important;
        position: relative;
        padding: 3px;
        top: 11px;
        width: auto;
        min-width: unset;
        height: 138px;
        background-color: rgba(68, 114, 88, .9);
    }
    .logo img {
        width:100%;
        height:auto;
    }

    .logo > a {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        min-width: unset;
    }
    .entry-title {
        /* float: none; */
    }
    .subtitle {
        text-align:center;
    }
    #sidebar .entry-title a {
        white-space:nowrap;
        overflow: hidden;
        font-size: 12px;
    }
    .entry-view .entry-title {
        padding: 0;
    }
    .entry-view .entry-date {
        /* float: none; */
        font-size: 12px;
    }
    .entry-view .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    #sidebar li ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #main, #sidebar {
        padding-left: 7px;
        padding-right: 7px;
    }
    #copy {
        margin:0;
    }
    .tag-index {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
}