.DS_Store
.idea/
/access.php
/_site/
/gallery
/fetch/cache
/fetch/index.sqlite
/fetch/postpage.html
/migrate/db.php
/migrate/spartacus
/spartacus
*.log
/var/

/paperroll/composer.lock
/paperroll/vendor/
/paperroll/admin/phpliteadmin.php
!/gallery/cache/.htaccess
!/gallery/cache/cache.php
