/**
 * @author		Dennis Rogers
 * @address		www.drogers.net
 *
 * 36,24,26 - Cocoa Brown
 * 68,114,88 - Killarney
 * 134,155,122 - Battleship Gray
 * 222,209,167 - Life of Confessions
 * 255,181,112 - a-ha
 */

img {
    width: 100%;
}

#main {
    background: rgba(68,114,88,.2);
    margin-top:15px;
    padding: 35px 15px 0;
    position: relative;
}

.entry-view {
    color:rgb(222,209,167);
    font-family:Helvetica, sans-serif;
    margin-bottom: 40px;
}

.entry {
    margin-bottom:45px;
}

.entry-content .std {
    font-size:14px;
    margin-top:10px;
    padding:10px 20px 20px;
    color:rgb(222,209,167);
    font-weight: 300;
}

.entry-preview-image {
    display:block;
    padding-bottom:15px;
}

.entry-preview-image, .entry-content .std {
    border-bottom: 2px solid rgb(222,209,167);
    border-bottom: 2px solid rgba(222,209,167, .5);
}

.entry-date {
    float:right;
    font-size:16px;
    font-weight:400;
    margin:0;
}

.entry-title {
    float:left;
    font-size:18px;
    font-weight:400;
    margin:0;
    line-height: normal;
    padding-bottom: 5px;
}

.content-title {
    font-size: 1.7em;
    font-weight: normal;
    margin:20px 0 5px;
}
.entry-images .image-box {
    padding:0 0 10px;
}

.entry-versions,
.entry-tags,
.social-media {
    font-size:14px;
}

.mobile-preview img {
    width: 343px;
}

.entry-versions h4,
.entry-tags h4 {
    margin: 5px 0;
}
.header-banner {
    background-position: 50% 50%;
}

.header-banner.banner-border {
    background-color:rgb(255,181,112);
    background-blend-mode:soft-light;
    padding: 9px;
}
.header-banner.banner-background {
    border: 1px solid rgb(222,209,167);
    height: 142px;
    position:relative;
}
.header-banner.banner-feature {
    height: 160px;
    margin: -10px;
}
.ad {
    overflow:hidden;
    background:url(../images/no-ad.png) 50% 50%;
    min-height: 90px;
    background: rgb(255,181,112);
}
.ad.top {
    margin: -14px -15px 10px;
}
.ad.middle{
    margin: -20px -15px 20px;
}
.ad.bottom {
    margin:  50px -15px 0px;
}
#sidebar .ad {
    padding: 0 0 15px;
    min-height:450px;
}

.logo {
    height: 134px;
    position: absolute;
    left: 3px;
    top: 3px;
    width:340px;
    background-color: rgb(68,114,88);
    background-color: rgba(68,114,88,.7);
}

.right .logo {
    right:10px;
}

.social-media li {
    float:left;
}
.social-media li a {
    display: block;
    background: url(../images/social-media-icons-small.png) 0 0 no-repeat;
    padding-right:10px;
    height:24px;
    margin-bottom:3px;
    line-height: 26px;
    text-indent:28px;
}
.social-media li a.twitter { background-position: 0 -24px; }
.social-media li a.tapiture { background-position: 0 -48px; }
.social-media li a.pinterest { background-position: 0 -72px; }

#sidebar {
    background: rgba(68,114,88,.2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3519', endColorstr='#121603',GradientType=0 );
    position: relative;
    color:#949A72;
    font-family:Helvetica;
    margin:15px 0 0;
    padding:35px 15px 8px;
}
.sidebar a img {
    margin-bottom:8px;
}
.sidebar .social-contact {
    margin:0 auto;
}
.sidebar .social-contact li {
    display: block;
    text-indent: -9999px;
    float:left;
    height: 32px;
    width: 32px;
    margin: 0 20px 10px -2px;
}
.sidebar .social-contact li:last-of-type {
    margin-right:0;
}
.sidebar .social-contact li a {
    display: block;
    height: 32px;
    width: 32px;
    background: url(../images/social-media-icons.png) 0 0 no-repeat;
}
.sidebar .social-contact li.twitter a { background-position: 0 -32px; }
.sidebar .social-contact li.tapiture a { background-position: 0 -64px; }
.sidebar .social-contact li.pinterest a { background-position: 0 -96px; }

.sidebar-head,
.content-head {
    background: rgb(68,114,88);
    border-top:1px solid rgba(255,255,255,.3);
    border-bottom:1px solid rgba(0,0,0,.3);
    width:100%;
    height:20px;
    position: absolute;
    top:0;
    left:0;
}

.sidebar .section-head {
    margin:0;
}

.sidebar a {
    font-size:14px;
    text-decoration:none;
}

.sidebar ul {
    list-style:none outside none;
    margin:0;
    padding:2px 0 12px 5px;
    overflow:auto;
}

.sidebar ul li {
    margin-left:10px;
    text-indent: -10px;
}

.sidebar ul.years {
    overflow: auto;
}

.sidebar ul.years li {
    float:left;
    margin-right:10px;
}

.sidebar .tops .entry-date {
    display:none;
}

.entry-grid {
    clear:both;
    list-style: none;
    padding: 0 7px;
    overflow: auto;
}
.entry-grid > div {
    padding-left:7px;
    padding-right:7px;
}

.entry-grid .entry-images .image {
    padding:0 5px;
}
.entry-grid .entry-item {
    float:left;
}

.entry-grid .entry-title {
    font-size:14px;
    height: 38px;
    display: table;
}

.entry-grid .entry-title a {
    display: table-cell;
    vertical-align: bottom;
}

.entry-grid .entry-date {
    font-size:13px;
}

.entry-grid .entry-image img {
    width: 100%;
}
#main .random-entries h3 {
    margin: 30px 0 -10px;
}

.top-nav {
    bottom:2px;
    left:0;
    list-style:none outside none;
    padding:0;
    margin:0;
    position:absolute;
    text-indent:0;
}

.top-nav a {
    color:rgb(222,209,167);
    display:block;
    font-size:22px;
    font-weight:100;
    margin:2px 6px;
    padding:0 5px;
    text-decoration:none;
    font-family: Times, serif;
}

.top-nav a:hover {
    background:#de8b52;
}

.top-nav li {
    float:left;
}

body > .container-fluid {
    border: 1px solid rgb(134,155,122);
    border-width: 0 25px;
    margin:0 auto;
    padding: 10px 20px 30px;
    max-width: 1372px;
}

.no-display {
    display:none;
}

#copy {
    text-align: center;
    font-size: 12px;
    padding: 25px 0 150px;
    margin:0 auto;
    max-width: 1372px;
    background: rgb(134,155,122);
    color:black;
}

#admin {
    position: absolute;
    top:5px;
    right:10px;
}

body {
    background: rgb(36,24,26);
    font-weight:400;
    font-family: Helvetica,sans-serif;
    color:rgb(222,209,167);
    border: 1px solid rgb(255,181,112);
    border-width: 0 25px;
}
a {
    color:rgb(255,181,112);
    text-decoration:none;
    cursor: pointer;
}

a:hover,a:active,a:focus {
    color: #fff;
}

input[type=text] {
    width:250px;
}

ul {
    list-style: none outside none;
    padding: 0 0 0 10px;
    margin: 0 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
}

td {
    border: 1px solid rgb(222,209,167);
    padding: 1px 5px;
}
.entry-images .col-xs-6:nth-of-type(even) {
    padding-left:5px;
}
.entry-images .col-xs-6:nth-of-type(odd) {
    padding-right:5px;
}
.pager {
    margin: 15px -5px;
}
.pager li>a, .pager li>span {
    border-radius:0;
    padding: 2px 6px;
}
.pager li>a, .pager li>span, .btn-lg {
    background: rgb(68,114,88);
    background: -moz-linear-gradient(top,  rgb(68,114,88) 25%, rgb(52,86,67) 100%);
    background: -webkit-linear-gradient(top,  rgb(68,114,88) 25%,rgb(52,86,67) 100%);
    background: linear-gradient(to bottom,  rgb(68,114,88) 25%,rgb(52,86,67) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#447258', endColorstr='#345643',GradientType=0 );

    border-color:rgba(0,0,0,.5);
}
.btn-lg a {
    text-decoration: none;
}
.entry-images .image {
    position:relative;
    display: block;
    float:left;
    width: auto;
    margin: 5px 4.5px 0;
}
.entry-images .image span {
    text-align:center;
    display:block;
}
@media screen and (min-width:768px) {
    .entry-images .image {
        height: 160px;
    }
    .entry-view .entry-images {
        margin-top:-15px;
    }
    .entry-images .mobile .image:nth-child(2n) {
        margin-left:0;
    }
    .entry-images .image img {
        height:99%;
        width:auto;
    }
    .entry-images .image:hover span {
        display:block;
        color:rgb(255,181,112);
    }
    .entry-images .image span {
        position:absolute;
        background:#1B2001;
        bottom:20px;
        text-align:center;
        z-index:999;
        display: none;
        width:100%;
    }
    .entry-images,
    .entry-images .desktop,
    .entry-images .mobile {
        overflow: auto;
        clear:both;
    }
}
@media screen and (min-width: 850px) {
    .entry-images .image {
        height: 183px;
    }
}
@media screen and (min-width: 950px) {
    .entry-images .image {
        height: 210px;
    }
}
@media screen and (min-width: 990px) {
    .entry-images .image {
        height: 157px;
    }
}
@media screen and (min-width: 1050px) {
    .entry-images .image {
        height: 169px;
    }
}
@media screen and (min-width: 1100px) {
    .entry-images .image {
        height: 179px;
    }
}
@media screen and (min-width: 1150px) {
    .entry-images .image {
        height: 189px;
    }
}
@media screen and (min-width: 1200px) {
    .entry-images .image {
        height: 199px;
    }
}
@media screen and (min-width: 1250px) {
    .entry-images .image {
        height: 210px;
    }
}
@media screen and (min-width: 1300px) {
    .entry-images .image {
        height: 220px;
    }
}
@media screen and (min-width: 1350px) {
    .entry-images .image {
        height: 230px;
    }
}
@media screen and (min-width: 1425px) {
    .entry-images .image {
        height: 248px;
    }
}

@media screen and (min-width: 990px) {
    body > .container-fluid > .row > :last-child {
        padding-left:0;
    }
    .entry-grid .col-md-6:nth-of-type(2n+1),
    .entry-grid .col-md-4:nth-of-type(3n+1) {
        clear:left;
    }
}

@media screen and (max-width: 990px) {
    body > .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar ul:not(.social-contact):not(.years),
    .entry-versions ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .sidebar .years {
        width:50%;
    }
    #sidebar .ad.long {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .entry-grid .col-sm-6:nth-of-type(2n+1),
    .entry-grid .col-sm-4:nth-of-type(3n+1) {
        clear:left;
    }
    .entry-view .entry-images {
        margin-top:-15px;
    }
}

@media screen and (max-width: 767px) {
    body > .container-fluid,
    body {
        border-width: 0 10px;
    }
    .container-fluid .row {
        margin: 0;
    }
    #sidebar .row {
        margin-left:-7px;
        margin-right:-7px;
    }
    .container-fluid > .row > .col-md-3,
    .container-fluid > .row > .col-md-9,
    .col-xs-12 {
        padding-left:0;
        padding-right:0;
    }
    .col-xs-6:nth-child(2n),
    .entry-images .image:nth-child(2n) {
        padding-left: 3px;
        padding-right: 10px;
    }
    .col-xs-6:nth-child(2n+1),
    .entry-images .image:nth-child(2n+1) {
        padding-right: 3px;
        padding-left: 10px;
    }
    .tops > div:nth-child(2n+1) {
        clear:left;
    }
    .ad-middle {
        display: none;
    }
    .ad {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .entry-images {
        margin-left: -7px;
        margin-right: -7px;
    }
    .entry-grid {
        padding:0;
    }
    .sidebar ul:not(.social-contact):not(.years),
    .entry-versions ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .sidebar .years {
        width:100%;
    }
    .entry-images .image img {
        width:100%;
        height:auto;
    }
    .entry-images .image {
        width: 50%;
        margin: 0;
    }
    .entry-images .image span {
        padding-bottom:15px;
    }
}
@media screen and (max-width: 475px) {
    body,
    body > .container-fluid {
        margin: 0;
        padding: 0;
        border:0;
    }
    .content.span9 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .header-banner.banner-border {
        padding:9px 0;
    }
    .header-banner.banner-background {
        margin: 0;
        border-width:1px 0;
    }
    .header-banner.banner-feature {
        background-image:none !important;
        width: 100%;
        margin: -10px 0;
    }
    .top-nav li a {
        margin:0 1px;
        padding:2px 6px;
    }
    .logo {
        margin: 0 auto;
        left:0 !important;
        right:0 !important;
        position: relative;
        padding:3px;
        top:10px;
        width: 310px;
        height: 138px;
        background-color: rgba(170,78,0,.9);
    }
    .logo > a {
        display:block;
        max-width: 320px;
    }
    .entry-title {
        float:none
    }
    .entry-date {
        float:none;
        font-size:14px;
    }
    #main, #sidebar {
        padding-left:7px;
        padding-right:7px;
    }
}


