/**
 * @author		Dennis Rogers
 * @address		www.drogers.net
 */

img {
    width: 100%;
}

#main {
    margin-top:15px;
    padding: 35px 15px 0;
    background: #1B2001;
    position: relative;
}

.entry-view {
color:#A4B070;
font-family:Helvetica;
margin-bottom: 40px;
}

.entry {
	margin-bottom:45px;
}

.entry-content {
font-size:14px;
}

.entry-date {
float:right;
font-size:16px;
font-weight:400;
margin:0;
}

.entry-title {
float:left;
font-size:18px;
font-weight:400;
margin:0;
line-height: normal;
padding-bottom: 5px;
}

.content-title {
    font-size: 1.7em;
    font-weight: normal;
    margin:20px 0 5px;
}
.entry-images .image-box {
    padding:0 0 10px;
}
.entry-images .image {
    padding: 10px 5px;
}
.entry-images {
    overflow: auto;
    clear:both;
}

.entry-versions,
.entry-tags,
.social-media {
	font-size:14px;
}

.mobile-preview img {
    width: 343px;
}

.entry-versions h4,
.entry-tags h4 {
	margin: 5px 0;
}
.header-banner {
    background-position: 50% 50%;
}

.header-banner.banner-border {
    background-color:rgb(160,58,0);
    background-blend-mode:soft-light;
    padding: 9px;
}
.header-banner.banner-background {
    border: 1px solid #fff;
    height: 142px;
    position:relative;
}
.header-banner.banner-feature {
    height: 160px;
    margin: -10px;
}
.ad {
    overflow:hidden;
    background:url(../images/no-ad.png) 50% 50%;
    min-height: 90px;
}
.ad.top {
	margin: -14px -15px 10px;
}
.ad.middle{
	margin: -20px -15px 20px;
}
.ad.bottom {
	margin:  50px -15px 0px;
}
#sidebar .ad {
    padding: 0 0 15px;
    min-height:450px;
}

.logo {
    height: 134px;
    position: absolute;
    left: 10px;
    top: 3px;
    width:340px;
    background-color: rgb(180,78,0);
    background-color: rgba(180,78,0,.7);
}

.right .logo {
	right:10px;
}

.social-media li {
    float:left;
}
.social-media li a {
    display: block;
    background: url(../images/social-media-icons-small.png) 0 0 no-repeat;
    padding-right:10px;
    height:24px;
    margin-bottom:3px;
    line-height: 26px;
    text-indent:28px;
}
.social-media li a.twitter { background-position: 0 -24px; }
.social-media li a.tapiture { background-position: 0 -48px; }
.social-media li a.pinterest { background-position: 0 -72px; }

#sidebar {
	background: #1C2100;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3519', endColorstr='#121603',GradientType=0 );
	position: relative;
	color:#949A72;
	font-family:Helvetica;
	margin:15px 0 0;
	padding:35px 15px 8px;
}
.sidebar a img {
    margin-bottom:8px;
}
.sidebar .social-contact {
	margin:0 auto;
}
.sidebar .social-contact li {
    display: block;
    text-indent: -9999px;
    float:left;
    height: 32px;
    width: 32px;
    margin: 0 20px 10px -2px;
}
.sidebar .social-contact li:last-of-type {
    margin-right:0;
}
.sidebar .social-contact li a {
    display: block;
    height: 32px;
    width: 32px;
    background: url(../images/social-media-icons.png) 0 0 no-repeat;
}
.sidebar .social-contact li.twitter a { background-position: 0 -32px; }
.sidebar .social-contact li.tapiture a { background-position: 0 -64px; }
.sidebar .social-contact li.pinterest a { background-position: 0 -96px; }

.sidebar-head,
.content-head {
    background: #535d2a; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #535d2a 1%, #3e4717 51%, #4e5827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#535d2a), color-stop(51%,#3e4717), color-stop(100%,#4e5827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #535d2a 1%,#3e4717 51%,#4e5827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #535d2a 1%,#3e4717 51%,#4e5827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #535d2a 1%,#3e4717 51%,#4e5827 100%); /* IE10+ */
    background: linear-gradient(45deg,  #535d2a 1%,#3e4717 51%,#4e5827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535d2a', endColorstr='#4e5827',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-top: solid 1px #4C5626;
    border-bottom: solid 1px #3E4425;
	width:100%;
	height:20px;
	position: absolute;
	top:0;
	left:0;
}

.sidebar .section-head {
margin:0;
}

.sidebar a {
color:#DAE3A8;
font-size:14px;
text-decoration:none;
}

.sidebar ul {
list-style:none outside none;
margin:0;
padding:2px 0 12px 5px;
overflow:auto;
}

.sidebar ul li {
	margin-left:10px;
	text-indent: -10px;
}

.sidebar ul.years {
	overflow: auto;
}

.sidebar ul.years li {
	float:left;
	margin-right:10px;
}

.sidebar .tops .entry-date {
    display:none;
}

.entry-grid {
    clear:both;
	list-style: none;
	padding: 0 7px;
	overflow: auto;
}
.entry-grid > div {
    padding-left:7px;
    padding-right:7px;
}

.entry-grid .entry-images .image {
    padding:0 5px;
}
.entry-grid .entry-item {
	float:left;
}

.entry-grid .entry-title {
	font-size:14px;
    height: 38px;
    display: table;
}

.entry-grid .entry-title a {
    display: table-cell;
    vertical-align: bottom;
}

.entry-grid .entry-date {
	font-size:13px;
}

.entry-grid .entry-image img {
    width: 100%;
}
#main .random-entries h3 {
    margin: 30px 0 -10px;
}

.top-nav {
bottom:2px;
left:0;
list-style:none outside none;
padding:0;
margin:0;
position:absolute;
text-indent:0;
}

.top-nav a {
color:#FFF;
display:block;
font-size:22px;
font-weight:100;
margin:2px 6px;
padding:0 5px;
text-decoration:none;
font-family: Times, serif;
}

.top-nav a:hover {
background:#de8b52;
}

.top-nav li {
float:left;
}

.wrapper-inner {
background:none repeat scroll 0 0 #1D2500;
margin-top:15px;
overflow:auto;
padding: 5px;
}

body > .container-fluid {
background:none repeat scroll 0 0 #2D2F02;
margin:0 auto;
padding: 10px 20px 30px;
max-width:1048px;
}

.no-display {
	display:none;
}

#copy {
	text-align: center;
	font-size: 12px;
	padding: 25px 0 150px;
}

#admin {
	position: absolute;
	top:5px;
	right:10px;
}

body {
	background: #4a5510;
	background: -moz-linear-gradient(top,  #4a5510 0%, #161a01 1000px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a5510), color-stop(1000px,#161a01));
	background: -webkit-linear-gradient(top,  #4a5510 0%,#161a01 1000px);
	background: -o-linear-gradient(top,  #4a5510 0%,#161a01 1000px);
	background: -ms-linear-gradient(top,  #4a5510 0%,#161a01 1000px);
	background: linear-gradient(top,  #4a5510 0%,#161a01 1000px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5510', endColorstr='#161a01',GradientType=0 );
font-weight:400;
	font-family: Helvetica,sans-serif;
	color:#A4B070;
}
a {
    color:#DAE3A8;
    text-decoration:none;
    cursor: pointer;
}

a:hover,a:active,a:focus {
	color: #fff;
}

input[type=text] {
	width:250px;
}

ul {
	list-style: none outside none;
	padding: 0 0 0 10px;
	margin: 0 0 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead td {
	font-weight: bold;
}

td {
	border: 1px solid #757d56;
	padding: 1px 5px;
}
.entry-images .col-xs-6:nth-of-type(even) {
    padding-left:5px;
}
.entry-images .col-xs-6:nth-of-type(odd) {
    padding-right:5px;
}
.pager {
    margin: 15px -5px;
}
.pager li>a, .pager li>span {
	border-radius:0;
	padding: 2px 6px;
}
.pager li>a, .pager li>span, .btn-lg {
    background: #4e5827; /* Old browsers */
    background: -moz-linear-gradient(top,  #4e5827 25%, #4e5827 25%, #3e4717 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4e5827 25%,#4e5827 25%,#3e4717 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4e5827 25%,#4e5827 25%,#3e4717 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5827', endColorstr='#3e4717',GradientType=0 ); /* IE6-9 */
	border-color:#1B2000;
}
.btn-lg a {
    text-decoration: none;
}


@media screen and (min-width: 990px) {
    body > .container-fluid > .row > :last-child {
    	padding-left:0;
    }
}

@media screen and (max-width: 990px) {
    body > .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar ul:not(.social-contact):not(.years),
    .entry-versions ul {
    	-webkit-column-count: 3;
    	-moz-column-count: 3;
    	column-count: 3;
    }
    .sidebar .years {
    	width:50%;
    }  
    #sidebar .ad.long {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .entry-grid .entry-item {
        width:32%;
        margin-left:2%;
    }
    .entry-grid .entry-item:nth-of-type(3n+1) {
    	clear:left;
    	margin-left:0;
    }
    .entry-view .entry-images {
        margin-top:-15px;
    }
}

@media screen and (max-width: 767px) {
    .container-fluid .row {
        margin: 0;
    }
    #sidebar .row {
    	margin-left:-7px;
    	margin-right:-7px;
    }
    .container-fluid > .row > .col-md-3,
    .container-fluid > .row > .col-md-9,
    .col-xs-12 {
        padding-left:0;
        padding-right:0;
    }
    .col-xs-6:nth-child(2n) {
        padding-left: 5px;
        padding-right: 7px;
    }
    .col-xs-6:nth-child(2n+1) {
        padding-right: 5px;
        padding-left: 7px;
    }
    .tops > div:nth-child(2n+1) {
    	clear:left;
    }
    .ad-middle {
        display: none;
    }
    .ad {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .entry-images {
        margin-left: -7px;
        margin-right: -7px;
    }
    .entry-grid {
        padding:0;
    }
    .sidebar ul:not(.social-contact):not(.years),
    .entry-versions ul {
    	-webkit-column-count: 2;
    	-moz-column-count: 2;
    	column-count: 2;
    }
    .sidebar .years {
    	width:100%;
    }
}
@media screen and (max-width: 475px) {
    body {
        padding:0;
    }
    body > .container-fluid {
        margin: 0;
        padding: 0;
    }
    .content.span9 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .header-banner.banner-border {
    	padding:9px 0;
    }
    .header-banner.banner-background {
    	margin: 0;
    	border-width:1px 0;
    }
    .header-banner.banner-feature {
    	background-image:none !important;
    	width: 100%;
    	margin: -10px 0;
    }
    .top-nav li a {
    	margin:0 1px;
    	padding:2px 6px;
    }
    .logo {
        margin: 0 auto;
        left:0 !important;
        right:0 !important;
        position: relative;
        padding:3px;
        top:10px;
        width: 310px;
        height: 138px;
    	background-color: rgba(170,78,0,.9);
    }
    .logo > a {
    	display:block;
    	max-width: 320px;
    }
    .entry-title {
    	float:none
    }
    .entry-date {
    	float:none;
    	font-size:14px;
    }
    #main, #sidebar {
        padding-left:7px;
        padding-right:7px;
    }
}


